
.video-container{
    display:flex;
    flex-wrap: wrap;
}
.display{
    padding-top: 30px;
    width: 30%;
    height:auto;
    margin-left: 30px;
    margin-right:13px;
    justify-content: space-around;
    

}
.display iframe{
    border-radius: 5px;
    border:none;


    
}
@media(max-width:477px){
    .display{

        width:80%;
        height:250px;
        margin-left: 2%;
        margin-right:0%;
        margin-bottom: 30px;
        
    
    }
    .display iframe{
        border-radius: 5px;
        border:none;
        
        

        
    }

}

