
.video-container{
    display:flex;
    flex-wrap: wrap;
}
.display{
    padding-top: 30px;
    width: 30%;
    height:auto;
    margin-left: 30px;
    margin-right:13px;
    justify-content: space-around;
    

}
.display iframe{
    border:wrap;
    border-radius: 5px;
    
}
@media(max-width:477px){
    .display{

        width:80%;
        height:250px;
        margin-left: 10%;
        margin-right:10%;
        
    
    }
    .display iframe{
        border:wrap;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        
    }

}

