
.image-container{
    flex-wrap: wrap;
    display: flex;
    margin:0;
    position: relative;
}
.subheader{
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    height: 40px;
    position:sticky;
    z-index: 1;
    top:120px;
    
  }
  #myBtnContainer{

    margin-right: 20%;
    border:2px solid rgb(0,0,0,0.6);
    border-radius: 5px;
    display:inline-block;
    background:rgb(151, 146, 146);
  }
  .btn {
    background:rgb(151, 146, 146);
    border-radius: 5px;
    color:black; 
    height:40px;
    width:auto;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: cyan;
  }
  
  .btn.active {
    background-color: cyan;
    color: black;
  }

 /* display images orderly  */
.dipslay-container{
    /* width:20%; */
    padding-left: 50px;
    margin-left: 20px;
    padding-top: 30px;
    display:flex;
    flex-wrap: wrap;
    visibility: hidden;

} 
.show {
    visibility: visible;
  }
/* Image animation */
.image-container{
    position:relative;
    width: 18%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.filterHero{
    display:block ;
    width: 100%;
    border-radius: 10px;
    border:2px solid black;
}
.image-overlay{
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    color:white;
    display:flex;  
    justify-content: center;
    align-items:flex-end;
    opacity:0;
    transition: opacity 0.25s;
}
.image-overlay > *{
    transform:translateY(20px);
    transition: transform 0.25s;

}
.image-overlay:hover{
    opacity:1;
}
.image-overlay:hover > *{
    transform: translatey(0px);
}
.text{
    padding-bottom: 10px;
    font-size:  40px;
    font-weight:bold;
    font-family: 'Allan';
}
@media(max-width:475px){

    .dipslay-container{
        padding-top: 30px;
        margin-left:0px;
        padding-right: 6%;
        display:flex;
        flex-wrap: wrap;
        visibility: hidden;
    
    } 
    .image-container{
        position:relative;
        width: 46.5%;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-left: 0;

        
    
    }
    .filterHero{
        display:block ;
        width: 100%;
        border-radius: 10px;
        border:2px solid black;
        
    
    
    }
    .btn {
        padding-top: 10px;
        background:rgb(151, 146, 146);
        border-radius: 5px;
        color:black; 
        height:60px;
        width:auto;
        border: none;
        outline: none;
        text-decoration: none;
        font-size: 11px;
        cursor: pointer;
        height:100%;
      }
      .subheader{
        padding-top: 10px;
        text-align: center;
        margin-left:0px;
        position: sticky;
        z-index:1;
        top:0;
      }
      #myBtnContainer{
        margin-right:0;
        border:2px solid rgb(0,0,0,0.6);
        border-radius: 5px;
        display:inline-block;
        background:rgb(151, 146, 146);
        height: 100px;

      }
    
}

