.show {
    display: block;
  }
.image-container{
    flex-wrap: wrap;
    display: flex;
    margin:0;
    position: relative;
}
.subheader{
    padding-top: 20px;
    float:center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    height: 40px;
    
  }
  #myBtnContainer{

    margin-right: 20%;
    border:2px solid rgb(0,0,0,0.6);
    border-radius: 5px;
    display:inline-block;
    background:rgb(151, 146, 146);
    opacity: transparent;
    
    
    
  }
  .btn {
    background:rgb(151, 146, 146);
    border-radius: 5px;
    opacity: transparent;
    color:black; 
    height:40px;
    width:auto;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: cyan;
  }
  
  .btn.active {
    background-color: cyan;
    color: black;
  }
/* smaller navigation  */
/* .subheader{
    padding-top:50px;
    text-align: center;
    display: flex;
    justify-content: center; 
}
.category{
    background-color:rgb(151, 146, 146);
    opacity: transparent;
    display:inline-block; 
    border-radius: 20px;  


}
.subheader li {
    border:solid rgb(151, 146, 146);
    float:left;
    margin-right:50px;

}
.subheader ul{
    list-style: none;
}
.subheader ul a{
    text-decoration: none;
    font-size:25px;
    color:black;
}
.subheader ul li a:hover{

    background-color: #2eca5d;;
    box-shadow: 0 0 5px #2eca5d;

}
.subheader ul li a.active{
    background-color: #2eca5d;

}*/

 /* display images orderly  */
.dipslay-container{
    /* width:20%; */
    padding-left: 50px;
    margin-left: 20px;
    padding-top: 30px;
    display:flex;
    flex-wrap: wrap;

} 
/* Image animation */
.image-container{
    position:relative;
    width: 18%;
    margin-right: 20px;
    margin-bottom: 20px;
    

}
.filterHero{
    display:block ;
    width: 100%;
    border-radius: 10px;
    border:2px solid black;
    


}
.image-overlay{
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    color:white;
    display:flex;  
    justify-content: center;
    align-items:flex-end;
    opacity:0;
    transition: opacity 0.25s;

}
.image-overlay > *{
    transform:translateY(20px);
    transition: transform 0.25s;

}
.image-overlay:hover{
    opacity:1;
}
.image-overlay:hover > *{
    transform: translatey(0px);
}
.text{
    padding-bottom: 10px;
    font-size:  40px;
    font-weight:bold;
    font-family: 'Allan';
}

