.image-container{
    height: auto;
    margin:auto 0;
    
}
.column{
    
    float:left;
    width:25%;
    padding:10px;
    margin-right: 40px;
    margin-left: 60px;
    

}
.image-container::after{
    content: "";
    display: table;
}
.column img{
    border: 2px solid black;
    border-radius: 20px;
    display: block;
}

.patch{
    width: 30%;
    float:left;
}
.info{
    float:right;
}
