header{
    background: black;
    /* padding: 0; */

}

header::after{
    content:"";
    display: table;
    clear: both;
}


li{
    float:right;
    padding: 40px;
    list-style: none;
    
}

nav{
    float:right;
    margin-right: 120px;
}
a{
    color:yellow;
    font-size: 25px;
    font-family: "Segoe UI", Arial, sans-serif;
}



