body{
    margin: 0;
    background:#e2e0de;
     margin:0;
    padding: 0;
    height: 100vh;
    /* display:flex; */
    justify-content:center;
    align-items: center;
    position: absolute;

}
header{
    background: black;
    position:relative;
    display:flex;
    align-items: center;
    transition: 2s


}
.logo{
    
    padding-top: 40px;
    padding-right: 0px;
}

header::after{
    content:"";
    display: table;
    clear: both;
}
.container{
    width: 85%;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    
}
nav li {
    float:left;
    padding: 40px;
    padding-bottom: 30px;
}

nav{
    float:right;
    margin-right: 20px;
}
nav a{
    color:yellow;
    font-size: 25px;
    font: bold;
    font-family: "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color:aqua;   
}
#slider{
    overflow:hidden;
}
#slider figure {
    position : relative;
    width:500%;
    margin:0;
    left:0;
    transition: all .2s ease-in-out;
    animation:15s slider infinite;
    
}
#slider figure img{
    padding-top: 20px;
    float: left;
    width:20%;
    
}

@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left: -100%
    }
    45% {
        left: -100%
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
       left: -300%;
    }
    100%{
        left:-400%
    }

}
.overview-container{
    border:2px solid black;
    width:50%;
    float:left;
}

.download{
    padding-left: 100px;
    text-align: center;
    
}
.appicon{
    padding-right:200px;
    width:100px;
    float:right;
    height: 100px;  
    border-radius: 20px;
    border:2px
   
}


