body{
    margin: 0;
    background:white;
    
}
header{
    background: black;

}
.logo{
    
    padding-top: 40px;
    padding-right: 0px;
}

header::after{
    content:"";
    display: table;
    clear: both;
}
.container{
    width: 85%;
    margin: 0 auto;
}

nav ul{
    
    list-style: none;
    
}
nav li {
    float:left;
    padding: 40px;
    padding-bottom: 30px;
}

nav{
    float:right;
    margin-right: 20px;
}
nav a{
    color:yellow;
    font-size: 25px;
    font: bold;
    font-family: "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color:aqua;
    
}
.img-container{
    float: center;
    width:  80%;
    padding-left: 150px;
    padding-top: 30px;
   
  
}


